* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
/*######################
#######################
### MOBILE VERSION ####
#######################
######################*/

body {
	height: 100vh;
	font-family: sans-serif;
}
/*######################
#######################
##### HEADER###########
#######################
######################*/

body > header {
	display: flex;
	justify-content: center;
	padding: 1rem;
	font-family: monospace;
	text-align: center;
}
/*########################
##########################
###### LANDING PAGE  ####
#########################
#########################
*/
body > section.landing {
	background-image: url("../images/landing.jpg");
	height: 30vh;
	background-size: contain;

	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem;
}

body > section.landing > p {
	padding: 2rem 5.5rem;
}
body > section.images > h2 {
	text-align: center;
}

/*############################
##############################
######## SECTION ICONS #######
##############################
#############################*/
section.images {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	padding-top: 2rem;
}
section.images > h2 {
	border-bottom: #00b172 solid 3px;
}
body > section.images > div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	padding: 1rem 1rem;
}
body > section.images > div > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 200px;
}
body > section.images > div > ul > li > h3 {
	color: #00b172;
}
body > section.images > div > ul > li > img {
	height: 40px;
	width: 40px;
}

body > section.final {
	display: flex;
	flex-wrap: wrap;
	padding: 4rem 4rem;

	background-color: #00b172;
	color: white;
}
body > section.final > div {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
body > section.final > div h2 {
	border-bottom: white 3px solid;
	font-size: 1.4rem;
	text-align: center;
}

body > section.final > div > ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 1.5rem;
}

img {
	width: 100px;
}

.desktop {
	display: none;
}

/*############################
##############################
######## DESKTOP VERSION #####
##############################
#############################*/

@media (min-width: 500px) {
	/*############################
    ##############################
    ######## SECTION HEADER #####
    ##############################
    #############################*/
	body {
		font-family: sans-serif;
	}
	body > header {
		display: flex;
		justify-content: space-between;
		padding: 1rem 4rem;
		align-items: center;
		font-family: sans-serif;
		font-size: 1.2rem;
	}
	body > header > img {
		width: 150px;
	}

	header > ul.desktop {
		display: block;
		display: flex;
		list-style: none;
		gap: 2rem;
	}
	/*############################
    ##############################
    ######## SECTION LANDING #####
    ##############################
    #############################*/
	body > section.landing {
		height: 85vh;
		font-size: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	body > section.landing > h1 {
		text-align: center;
	}
	body > section.landing > p {
		margin: 2rem 2rem;
		padding: 1rem 10rem;
		font-size: 1.3rem;
		width: 600px;
		text-align: center;
	}
	/*############################
    ##############################
    ######## SECTION IMAGES #####
    ##############################
    #############################*/

	body > section.images {
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		font-size: 1.5rem;
		padding-left: 0rem;
		padding-bottom: 2rem;
	}
	body > section.images > div {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		overflow: hidden;
		padding-left: 0rem;
	}
	body > section.images > div > ul {
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	body > section.images > div > ul > li > h3 {
		padding-bottom: 1rem;
	}
	body > section.images > div > ul > li > img {
		width: 100px;
		height: 80px;
	}
	/*############################
    ##############################
    ######## FINAL SECTION #####
    ##############################
    #############################*/

	body > section.final {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80vh;
		flex-wrap: wrap;
		background-color: #00b172;
		background-image: url("../images/spotify-icon-white.png");
		background-size: 150px;
		background-repeat: no-repeat;
		background-position: center;
		padding: 4rem 5rem;
	}

	body > section.final > img {
		display: block;
		width: 300px;
	}
	body > section.final > div {
		font-size: 1.5rem;
		width: 400px;
	}
	body > section.final > div > h2 {
		font-size: 2rem;
	}
}
